<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
	<title></title>
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet">
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width">
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="stylesheet" href="styles/main.css">
	<!-- build:js scripts/vendor/modernizr.js -->
	<script src="components/modernizr/modernizr.js"></script>
	<!-- endbuild -->
</head>
<body>

	<div class="alert" id="mynotes">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<h5>Just a  few notes...</h5>
		<ul>
			<li>This is rather a proof of concept, far from a full implementation.</li>
			<li>Session management has been implemented.</li>
			<li>HTML5 validation and basic error handling have been implemented.</li>
			<li>Uses all possible scenarios from the API.</li>
			<li class="redalert">To make this server more 'permanent' I am running it on a Raspberry Pi connected to my home broadband -- all requests are going through Raspberry Pi and things will not be as responsive as on a production server.</li>			
		</ul>
		<h5>Technologies used:</h5>
		<ul>
			<li>Bacbone.js</li>
			<li>jQuery</li>
			<li>Underscore</li>
			<li>Bootstrap</li>
			<li>RequireJS</li>
			<li>Node.js</li>
		</ul>
		<h5>Thank you!</h5>
		<hr />
		<button type="button" class="btn btn-danger delete" id="close-notes" data-dismiss="alert">Close Notes</button>
	</div>

	<div class="container">
	
		<h2>User Area</h2>

		<a href="#/" class="btn btn-primary top-btn" id="home">Home</a>
		<a href="#/newuser" class="btn btn-primary top-btn" id="register">Register</a>
		<a href="#/edituser" class="btn btn-primary top-btn" id="edituser">Edit Profile</a>
		<a href="#/signin" class="btn btn-primary top-btn" id="signin">Sign In</a>
		<a href="#/signout" class="btn btn-primary top-btn" id="signout">Sign Out</a>

		<div id="download">
			<a href="app.zip" class="btn btn-custom-darken" >Download Source</a>
		</div>
		
		<hr />
		
		<div class="page"></div>
		<div class="user-titles"></div>
		<div class="titles"></div>
	</div>

	<!--[if lt IE 7]>
		<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
	<![endif]-->

	<!-- build:js scripts/main.js -->
	<script data-main="scripts/main" src="components/requirejs/require.js"></script>
	<!-- endbuild -->
	
		

	<script type="text/template" id="signin-user-template">
		<div class="signin-alert alert alert-block alert-error fade in" style="display: none"> 
			<strong>Error:</strong> Please check your username or password!  
		</div>
		<form class="signin-user-form">
			<legend>Sign In</legend>
			<label>Username</label>
			<input name="username" type="text" required data-validation-required-message="Please enter a valid username."/>
			<label>Password</label>
			<input name="password" type="password" required />
			<hr />
			<button type="submit" class="btn">Sign In</button>
		</form>
	</script>
	
	

	<script type="text/template" id="edit-user-template">
		<div class="reg-alert alert alert-block alert-error fade in" style="display: none"> 
			<strong>Error:</strong> Username is taken!  
		</div>
		<form class="edit-user-form">
			<legend><%= user ? 'Edit' : 'Register' %> User</legend>
			<label>Username</label>
			<input name="username" type="text" value="<%= user ? user.get('username') : '' %>" required />
			<label>Password</label>
			<input name="password" type="password" value="<%= user ? user.get('password') : '' %>" required />
			<label>First Name</label>
			<input name="firstName" type="text" value="<%= user ? user.get('firstName') : '' %>" required />
			<label>Last Name</label>
			<input name="lastName" type="text" value="<%= user ? user.get('lastName') : '' %>" required />
			<label>Phone Number</label>
			<input name="phoneNumber" type="text" value="<%= user ? user.get('phoneNumber') : '' %>" required />
			<% if(user) { %>
				<label>Gender</label>
				<div class="btn-group" data-toggle-name="genderIsFemale" data-toggle="buttons-radio">					
					<button type="button" class="btn btn-primary <%= !user.get('genderIsFemale') ? 'active' : '' %>" value="false">Male</button>
					<button type="button" class="btn btn-primary <%= user.get('genderIsFemale') ? 'active' : '' %>" value="true">Female</button>
				</div>
				<input type="hidden" name="genderIsFemale" value="<%= user.get('genderIsFemale') ? 'true' : 'false' %>" />
				<br/><br/>
				<label>Notes</label>
				<textarea name="notes"><%= user.get('notes') %></textarea>
				<input type="hidden" name="userId" value="<%= user.id %>" />
			<% }; %>
			<hr />
			<button type="submit" class="btn"><%= user ? 'Update' : 'Register' %></button>
		</form>
		
	</script>		
		
	<script type="text/template" id="user-titles-list-template">
		<h4>My Titles</h4>
		<table class="table table-striped">
			<thead>
				<tr><th>Game</th><th>Description</th><th></th></tr>
			</thead>
			<tbody>
			<% _.each(titles, function(title) { %>
				<tr>
					<td><%= htmlEncode(title.get('name')) %></td>
					<td><%= htmlEncode(title.get('description')) %></td>
					<td><a class="btn btn-danger delete delete-title" href="#" titleId="<%= title.id %>">Delete Title</a></td>
				</tr>
			<% }); %>
			</tbody>
		</table>
		<hr />
	</script>
	
	<script type="text/template" id="titles-list-template">
		<h4>Avaialable Titles</h4>
		<table class="table striped">
			<thead>
				<tr><th>Game</th><th>Description</th><th></th></tr>
			</thead>
			<tbody>
			<% _.each(titles, function(title) { %>
				<tr>
					<td><%= htmlEncode(title.get('name')) %></td>
					<td><%= htmlEncode(title.get('description')) %></td>
					<td><a class="btn add-title" href="#" titleId="<%= title.id %>">Add Title</a></td>
				</tr>
			<% }); %>
			</tbody>
		</table>
	</script>
</body>
</html>
